html {background-image: url(../images/bats.gif);}
* { font-family: sans-serif;}

#logo {
    float: left;
	padding: 0.5em 1em;
}

header {
	background-image: linear-gradient(45deg, white 0%, #FFA500 75%, black 100%);
	border-bottom: 2px solid black;
	padding: 1em 0;
}

header h2{font-size: 250%;
color: black;
line-height: 3px;
}

#title {
    font-size: 200%;
}

aside {
	float: left;
	width: 160px;
	height: 600px;
	padding-right: 1em;
}

h3{
	font-size: 125%;
	text-indent: 1px;
	line-height: 3px;
	 }
	 

h1 {
    font-size: 150%;
}
h1::first-letter {
    font-size: 200%;
}

a {
    color: orange;
    font-weight: bold;
}

li {
    margin-bottom: 0.25em;
}

a:focus, a:hover {
    color: green;
}
main {
	margin: 0px 25px;
}

body {
	width: 800px;
	margin: 1em auto;
	background: white;
	box-shadow: 2px 12px 16px 12px black;
}

footer {
	background-image: linear-gradient(45deg, black 0%, #FFA500 75%, white 100%);
	border-top: 2px solid black;
	font-size: 75%;
    text-align: center;
	clear: left;
}